@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text: #150906;
  --background: #fdfafa;
  --primary: #cb6544;
  --primary1: hsl(15, 56%, 53%, 20%);
  --secondary: #8fe0b5;
  --accent: #6ab6d6;
}
body {
  font-family: "Roboto";
  background-color: var(--background);
  color: var(--text);
}
a {
  text-decoration: none;
}
.container {
  padding: 15px 200px;
}
@media (max-width: 680px) {
  .container {
    padding: 10px;
  }
}
